DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tanal?schema=public"
AUTH_SECRET="kamida-32-belgidan-iborat-maxfiy-kalitni-bu-yerga-yozing"
SUPER_ADMIN_USERNAME="superadmin"
SUPER_ADMIN_PASSWORD="Parolni_almashtiring_123"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHANNEL_ID=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
